

.homepage-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 auto;
    width: 90%
}

.scott-story {
    font-family: 'Kalam', cursive;
    font-size: 1.2rem;
}

@media only screen and (min-width: 750px) {
    .homepage-container {
        width: 60%;
    }

    .scott-story {
        font-size: 1.5rem;
    }
}

// @media only screen and (min-width: $non-mobile-min-width) {
//     .homepage-container {
//         width: 60%;
//     }
// }

