

.homepage-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 auto;
    width: 90%
}

.scott-story {
    font-family: 'Kalam', cursive;
}

@media only screen and (min-width: 750px) {
    .homepage-container {
        width: 70%;
    }
}