
.header-container {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    height: 3.50rem;
    justify-content: space-evenly;
    margin: 1.25rem 0 1.5rem 0;
}

.brand {
    font-size: 1.5rem;
    justify-self: flex-start;
    margin-left: 2rem;
}

a {
    text-decoration: none;
    color: white;
}

.follow-me {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%
}    

.social-link {
    margin: 0 1rem 0 1rem;

    &:hover {
        transform: scale(1.25, 1.25);
    }
}