////////////////////////////////////////////////////////////////////////////////
//
// _app-variables.scss
//
// This component defines application-wide variables for the portfolio app.
//
////////////////////////////////////////////////////////////////////////////////



// Override Bootstrap here before importing Bootstrap.
$theme-colors: (
  "dark": rgba(0, 0, 0, 0.8),
  "secondary": #8c8c8c
);


// Now we can import Bootstrap. This must come after overrides since
// Boostrap uses !default for defining properties.
@import '~bootstrap/scss/bootstrap';


// Sets the background, font, and navbar colors.
// Paul chose orange, yellow, and gray.
$colors: (bground: #2c2c2c, 
          font: whitesmoke,
          navbar: green,
          orangeColor: #F15528,
          yellowColor: #FDB913,
          grayColor: #8c8c8c);

// The height of our header.        
$headerHeight: 20vh;
$scrollHeaderHeight: 22vh;

// The scaling (Zoom) factor of the LinkedIn, GitHub, and Medium icons.
$scaleFactor: 1.15;
