////////////////////////////////////////////////////////////////////////////////
//
// App.scss
//
// This component styles the App component for the portfolio app in a
// mobile-first manner.
//
////////////////////////////////////////////////////////////////////////////////


@import './app-variables';




.App {
  text-align: center;
}

a {
  text-decoration: none;
}

// Fix the header so that all content scrolls underneath it but it
// stays in place.
header {
  height: 15vh;
  left: 0;
  overflow: visible;
  position: fixed;
  top: 0;
}

.navbar-container {
  border-bottom: 0.4rem solid map-get($map: $colors, $key: yellowColor);
}

a {
  // The reluctant use of !important it to override React Bootstrap's 
  // styling of the links, which I currently don't understand.
  color: map-get($map: $colors, $key: orangeColor) !important;
}

// This styles the "brand" portion of the navbar.
.brand__container {
  align-items: center;
  display: flex;
  flex-direction: row;
  img {
    border: 2px solid white;
    height: 10%;
    width: 10%;
  }
  justify-content: flex-start;
}

// This styles the collapsible portion of our navbar.
.collapse__container {
  align-items: flex-start;  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

// This is the container in which the typing text is typed.
.container__typing-text {
  font-size: 1.5rem;
  margin: 2.0rem auto;
}

// Empty space that is the same height of the navbar. This exists so that 
// content won't sit underneath our fixed navbar when the page is scrolled
// to the top.
.header__buffer {
  // The height of our navbar buffer. This prevents the topmost content of the
  // page from sitting underneath the fixed navbar which is removed from the
  // document flow. 
  height: 15vh;
}

.container-skills {
  border-top: 0.2rem solid map-get($map: $colors, $key: yellowColor);
  color: map-get($map: $colors, $key: orangeColor);
  margin: 0 auto;
  p {
    color: white;
    text-align: left;
  }
  padding-top: 3.25rem;
  text-align: center;
  width:80%;
}

.container-portfolio {
  border-top: 0.2rem solid map-get($map: $colors, $key: yellowColor);
  color: map-get($map: $colors, $key: orangeColor);
  margin: 0 auto;
  p {
    color: white;
    text-align: left;
  }
  padding-top: 3.25rem;
  text-align: center;
  width:80%;
}

.container-about-me {
  border-top: 0.2rem solid map-get($map: $colors, $key: yellowColor);
  color: map-get($map: $colors, $key: orangeColor);
  margin: 0 auto;
  p {
    color: white;
    text-align: left;
  }
  padding-top: 3.25rem;
  text-align: center;
  width:80%;
}


  // // iPhone 4 portrait dimensions.
  @media only screen and (min-width: 320px) and (min-height: 480px) {
    .container__typing-text {
      height: 35vh;
      width: 80%;
    }

    #img_scott {
      height: 20%;
      width: 20%;
    }
  }

  // iPhone 5/SE portrait dimensions.
  @media only screen and (min-width: 320px) and (min-height: 568px) {
    .container__typing-text {
      width:80%;
    }
  }

  // Galaxy Note 2, Moto G4, Galaxy S5 portrait dimensions.
  @media only screen and (min-width: 360px) and (min-height: 640px) {
    
    .header__buffer {

      // The height of our navbar buffer. This prevents the topmost content of the
      // page from sitting underneath the fixed navbar which is removed from the
      // document flow. 
      height: 20vh;
    }

    .container__typing-text {
      height: 25vh;
      width: 70%;
    }

    #img_scott {
      height: 20%;
      width: 20%;
    }
  }

  // iPhone 6,7,8 portrait dimensions.
  @media only screen and (min-width: 375px) and (min-height: 667px) {
    //font-size: 1.50rem;
  }

  // iPhone X portrait dimensions.
  @media only screen and (min-width: 375px) and (min-height: 812px) {
    //font-size: 1.50rem;
  }

  // Pixel 2 portrait dimensions.
  @media only screen and (min-width: 411px) and (min-width: 731px) {
    //font-size: 1.50rem;
  }

  // iPhone 6 Plus portrait dimensions.
  @media only screen and (min-width: 414px) and (min-height: 736px) {
    //font-size: 1.50rem;
  }

  // iPad Mini, iPad portrait dimensions.
  @media only screen and (min-width: 768px) and (min-width: 1024px) {
    //font-size: 1.50rem;
  }

  // iPad Pro portrait dimensions.
  @media only screen and (min-width: 1024px) and (min-width: 1336px) {
    //font-size: 1.50rem;
  }

  @media only screen and (orientation: landscape) {
    #img_scott {
      height: 10%;
      width: 10%;
    }

    .container__typing-text {
      height: 50vh;
      width: 40%;
    }
  }
  















