////////////////////////////////////////////////////////////////////////////////
//
// PortfolioPage-component.scss
//
// This component styles the PortfolioPage component for the portfolio app in a
// mobile-first manner.
//
////////////////////////////////////////////////////////////////////////////////


@import './../../app-variables';


.carousel-caption {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.portfolio-github-link {
    display: inline-block;
    margin: 0 1rem 1rem 1rem;

    @media screen and (orientation:portrait)
    {
        margin: 0 2rem 2rem 2rem;
    }
}

.portfolio-project-image-russian-flashcards {
    height: 194px;
    width: 275px;
}

.try-the-app {
    display: none;
}
